@import '../styles/vars.css';

.forgot {
  width: 380px;
  margin: 0 auto;
}

.title {
  color: var(--primary-color);
  text-align: center;
}

.txt {
  text-align: center;
  margin-bottom: 50px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  font-weight: 400;
  font-size: 16px;
  padding-left: 20px;
}

.input {
  margin: 10px 0;
  width: 360px;
  height: 40px;
  border: 2px solid var(--grey-color);
  border-radius: 20px;
  padding-left: 20px;
  outline: none;
}

.successful {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
