@import '../styles/vars.css';

.App {
  height: 100vh;
  width: 100%;
  min-width: 500px;
}

.home {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.input {
  width: 300px;
  height: 44px;
  border: 2px solid var(--grey-color);
  border-radius: 20px;
  padding-left: 20px;
  outline: none;
  font-size: 16px;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
