@import '../styles/vars.css';

.login {
  width: 380px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: var(--primary-color);
}

.txt {
  font-weight: 400;
  font-size: 16px;
  padding-left: 20px;
  margin-bottom: 5px;
}

.input {
  width: 360px;
  height: 30px;
  border: 2px solid var(--grey-color);
  border-radius: 10px;
  padding-left: 20px;
  outline: none;
}

.cechboxContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  color: var(--primary-color);
  cursor: pointer;
}

.forgotPassword {
  text-decoration: underline;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register {
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary-color);
}
