@import '../styles/vars.css';

.register {
  width: 380px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: var(--primary-color);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
