@import '../styles/vars.css';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  margin: 20px;
}

.txt {
  color: var(--tertiary-color);
  font-weight: 400;
  font-size: 16px;
  margin: 5px 0;
}

.io {
  font-size: 16px;
  font-weight: 400;
  color: grey;
  margin: 5px 0;
}
