@import '../styles/vars.css';

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 500px;
}
.txt {
  font-weight: 700;
  color: var(--primary-color);
  margin: 10px;
}

.hidden {
  display: none;
}
