@import '../styles/vars.css';

.title {
  color: var(--primary-color);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  overflow: hidden;
}

.flex-1 {
  flex: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: -18px;
}

.orignalUrl {
  overflow: hidden;
}

.shortUrl {
  overflow: hidden;
}

.clipboard {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
}

.linkTitle {
  color: grey;
}
