@import '../styles/vars.css';

.label {
  font-weight: 400;
  font-size: 16px;
  padding-left: 20px;
}

.input {
  margin: 10px 0;
  width: 360px;
  height: 40px;
  border: 2px solid var(--grey-color);
  border-radius: 20px;
  padding-left: 20px;
  outline: none;
}
