@import '../styles/vars.css';

.container {
  margin: 0;
}

.containerflex {
  display: flex;
  justify-content: space-between;
}

.title {
  color: grey;
  margin-bottom: 7px;
}

.copy {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}
